<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>[% title %]</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

    <link rel="stylesheet" href="/css/liteblog.css">
    [% IF widget_css %]
    <link rel="stylesheet" href="/css/liteblog/[% widget_css %].css">
    [% END %]
</head>
<body>

    <header id="mobile-header">
        <div id="avatar-icon">
            <!-- TODO : avatar should be a setting with these as defaults -->
            <a href="/"><img src="/images/liteblog.jpg" alt="Your Avatar"></a>
        </div>
        <a href="/"><button id="menu-toggle">[% title %]</button></a>
    </header>

    [% IF widget_page %]
    <!-- the current page is handled by a widget -->
    <section id="hero" class="hero-[% widget_page %]">
    [% ELSE %]
    <section id="hero">
    [% END %]
        <div class="header-wrapper">
            <!-- TODO : avatar should be a setting with these as defaults -->
            <a href="/"><img src="/images/liteblog.jpg" alt="LiteBlog Logo" id="avatar"></a>
            <a href="/"><h1 class="site-title">[% title %]</h1></a>
            [% IF baseline %]
            <h3 class="site-baseline">[% baseline %]</h3>
            [% END %]
        </div>

    [% IF widget_title %]
        <div class="hero-title hero-title-[% widget_page %]">
            <h1 class="hero-title-text">[% widget_title %]</h1>
        </div>
    [% END %]
    </section>

[% content %]

<script type="text/javascript">
window.addEventListener('scroll', function () {
    var heroSection = document.getElementById('hero');
    var mobileHeader = document.getElementById('mobile-header');

    if (window.scrollY > heroSection.clientHeight) {
        mobileHeader.style.display = 'block';
    } else {
        mobileHeader.style.display = 'none';
    }
});
</script>

    </body>
</html>
